#topimage{
  text-align: center;
}

.text{
  padding: 40px 20px 10px;
}

.title{
  padding-top: 20px;
  font-size: 20px;
  line-height: 40px;
}

#btnp{
  margin: 0 30px;
}

.image {
  display: block;
  max-width: 100%;
  margin: 0px auto;
}

